{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>

    <div class="col-md-9">
      <!--adding a form to add tweet  -->
      {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" value="{{name}}"/>

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

      <!-- display tweets here -->
      <ul class='tweet-list'>
      {% for tweet in tweets %}

        <li class='tweetbox'>
          <img src="https://randomuser.me/api/portraits/lego/{{ [0,1,2,3,4,5,6,7,8,9] | random }}.jpg">
          <span class='content'><a href="/users/{{tweet.name}}" class='by'>{{tweet.name}}</a><br>
          {{tweet.content}}</span>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
